name: Test nvm-pl

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        perl-version: ["5.38"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl-version }}

      - name: Install dependencies
        run: |
          cpanm --quiet --notest --installdeps .

      - name: Run tests
        run: |
          prove -lv t/

      - name: Build distribution
        run: |
          perl Makefile.PL
          make
          make test
          make dist  # Ensure distribution builds correctly
